body {
  margin: 0;
  background: #f4f7ff;
  font-family: "Poppins", sans-serif;
}

.card {
  padding: 20px;
  background: white;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

button {
  padding: 10px;
  width: 100%;
  background: #4f46e5;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background: #4338ca;
}
